<!-- <p id="notice"><%= notice %></p> -->

<!-- <p>
  <strong>Name:</strong>
  <%= @dailydesignerapp.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @dailydesignerapp.sex %>
</p>

<p>
  <strong>State:</strong>
  <%= @dailydesignerapp.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @dailydesignerapp.city %>
</p> -->


<!-- This is the page that I want the wunderground results to show up -->
<!-- <p>
  <strong>Length of String</strong>
  <%= @city_size %>
</p> -->
<center>
<br><br><br><br><br><br><br>
<p>
<h1>
  <strong>It's</strong>
  <%= @temperature_string %><br><br>
  <strong>It's</strong>
  <%= @clear_day %>
  <strong>day</strong>
</h1>
</p>
<%= link_to 'Next', :controller => 'store', :action => 'index'  %> 
</center>




<!--<%= link_to 'Edit', edit_dailydesignerapp_path(@dailydesignerapp) %> |
<%= link_to 'Back', dailydesignerapps_path %> -->
